h1 {
    background-color: #D2B48C;
	color: white;
}
body {
	background-color: #D2B48C;
}
tbody {
	color: #F08080;
}
tr{
    background-color:yellow;
    color: white;
    
}
th{
    text-align: Left;
    height: 50px;
    
}
td{
	background-color: #F08080;
}
table {
    border-collapse: collapse;
     width: 100%;
}

table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 15px;
    text-align: left;
}
tr:hover {background-color: #CCCCCC}
tr:nth-child(even) {background-color: #f2f2f2}